<div class="text-layout">
  <h1>DecimalPipe y PorcentajePipe</h1>
  <p>Formatos para presentar un número con decimales o porcentajes.</p>
</div>
<div class="grid">
  <div class="col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      <i class="pi pi-dollar"></i>
      {{ ventasNetas | number: "1.2-2" }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ventas Brutas" subheader="del presente año">
      {{ ventasNetas + 2000000 | currency: "HNL":"symbol-narrow" }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Porcentaje de Ganancia" subheader="del presente año">
      {{ porcentaje | percent: "2.2-2" }}
    </p-card>
  </div>
</div>
