<div class="text-layout">
  <h1>Pipes No Comunes</h1>
  <p>Formatos para presentar información con pipes no comunes</p>
</div>
<div class="grid">
  <div class="col col-6">
    <p-fieldset legend="Pipe: i18nSelect" [toggleable]="true">
      <p>
        Saludos {{ nombre }}, usted ha sido
        {{ genero | i18nSelect: invitacionMapa }} para el programa de maestría
        en Búfalo.
      </p>
      <button
        pButton
        pRipple
        type="button"
        label="Cambiar Nombre"
        class="p-button-raised p-button-warning p-button-text"
        (click)="cambiarPersona()"
      ></button>
    </p-fieldset>
  </div>
  <div class="col col-6">
    <p-fieldset legend="Pipe: i18nPlural" [toggleable]="true">
      <p>Actualmente {{ clientes.length | i18nPlural: clientesMapa }}</p>
      <button
        pButton
        pRipple
        type="button"
        label="Borrar Persona"
        class="p-button-raised p-button-danger p-button-text"
        (click)="borrarPersona()"
      ></button>

      <!--Modal-->
      <button
        pButton
        pRipple
        type="button"
        label="Primary"
        class="p-button-outlined"
        (click)="showModalDialog()"
        label="Agregar Cliente"
      ></button>

      <p-dialog
        header="Agregando un cliente"
        [(visible)]="displayModal"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <p class="m-0">Ingrese el nombre del cliente para agregarlo.</p>
        <br />

        <button
          pButton
          pRipple
          type="button"
          label="Agregar Cliente"
          class="p-button-outlined"
        ></button>
      </p-dialog>
    </p-fieldset>
  </div>
</div>
