<div class="text-layout">
  <h1>Pipes No Comunes</h1>
  <p>Formatos para presentar información con pipes no comunes</p>
</div>
<div class="grid">
  <div class="col col-6">
    <p-fieldset legend="Pipe: i18nSelect" [toggleable]="true">
      <p>
        Saludos {{ nombre }}, usted ha sido
        {{ genero | i18nSelect: invitacionMapa }} para el programa de maestría
        en Búfalo.
      </p>
      <br />
      <button
        pButton
        pRipple
        type="button"
        label="Cambiar Nombre"
        class="p-button-raised p-button-warning p-button-text"
        (click)="cambiarPersona()"
      ></button>
    </p-fieldset>
  </div>
  <div class="col col-6">
    <p-fieldset legend="Pipe: i18nPlural" [toggleable]="true">
      <p>Actualmente {{ clientes.length | i18nPlural: clientesMapa }}</p>
      <br />
      <button
        pButton
        pRipple
        type="button"
        label="Borrar Persona"
        class="p-button-raised p-button-danger p-button-text"
        (click)="borrarPersona()"
      ></button>
    </p-fieldset>
  </div>
</div>

<!--Slice Pipe-->
<div class="grid">
  <div class="col col-6">
    <p-fieldset legend="Pipe: Slice" [toggleable]="true">
      <b>Clientes</b><br />
      {{ clientes | slice: 0 }}
    </p-fieldset>
  </div>

  <!--KeyValue Pipe-->
  <!--Permite presentar los atributos de un objeto que se recorre a través de un array *ngFor-->
  <div class="col col-6">
    <p-fieldset legend="Pipe: KeyValue" [toggleable]="true">
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          {{ item.key | titlecase }}: <b>{{ item.value }}</b>
        </li>
      </ul>
    </p-fieldset>
  </div>

  <!--JSON Pipe-->
  <!--Permite presentar los atributos de un objeto que se recorre a través de un array *ngFor-->
  <div class="col col-6">
    <p-fieldset legend="Pipe: JSON" [toggleable]="true">
      <pre>{{ heroes | json }}</pre>
    </p-fieldset>
  </div>
</div>
